@{
    ViewData["Title"] = "About Finn the Creator";
    ViewData["Message"]
}
<link rel="stylesheet" href="~/css/about.css" type="text/css" />
<body id="aboutpage">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>


    <section>
        <div>
            <img src="https://pbs.twimg.com/profile_images/972785357229121537/xxynBbmH_400x400.jpg" />
        </div>
        <div>Test test</div>
    </section>




</body>